body {
  padding: 70px 50px 20px 60px;
}

.main-component-container {
  display: flex;
  flex-direction: column;
}

.main-component-expense-tracker {
  display: flex;
  justify-content: space-between;
}

.main-component-expense-tracker svg {
  cursor: pointer;
}

h2, h5 {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 14px 0;
  font-weight: 600;
  font-size: 1.8rem;
}

h5 {
  margin-bottom: 10px;
  font-weight: 500;
}